# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = cwitunes.settings

[deploy]
url = http://localhost:6800/
project = cwitunes

[deploy:itunes]
url = http://45.32.13.151:6800/
project = cwitunes
